<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hac.rest.v1.cleaning.domain.receipt.update.dao.ReceiptUpdateDAO">
    <select id="selectListForCleaningDateBy" resultType="com.hac.rest.v1.cleaning.domain.receipt.update.dto.ReceiptCleaningUpdateOne">
        WITH MY_PRODUCT AS (
            SELECT  A1.PRO_RGST_SNO /* 제품등록 일련번호 */
            FROM    TB_HAC_PRO_REST_BAS A1 /* HAC 제품등록기본 */
            WHERE   A1.EMP_USR_NO = #{userNo}
                AND EXISTS(SELECT * FROM TB_HAC_SUVY_QSTN_RSLT_BAS B1 WHERE B1.PRO_RGST_SNO = A1.PRO_RGST_SNO) /* [업데이트 대상 기준 1] 사전 문진표 가전 정보 작성 계정 */
        )
        SELECT  A1.REPA_RCP_NO  AS RECEIPT_NO, /* 접수번호 */
                A1.PRO_RGST_SNO AS PRODUCT_REGISTRATION_SNO /* 제품등록 일련번호 */
        FROM    TB_HAC_CLN_SVC_REQ_BAS A1 /* 세척서비스요청기본 */
        WHERE   A1.EMP_USR_NO   = #{userNo}
            AND A1.DEL_YN       = 'N' /* 삭제여부 */
            AND A1.PRO_RGST_SNO IN (SELECT B1.PRO_RGST_SNO FROM MY_PRODUCT B1) /* [업데이트 대상 기준 2] 가전세척 신호등 세척 이력 존재 계정
                                                                                  - 제품 등록테이블에 존재하고 가전세척 신청테이블에 데이터가 존재한다면 "가전세척 신호등"으로 판단한다. */
            AND (A1.CLN_DT_UPD_YN IS NULL OR A1.CLN_DT_UPD_YN = 'N')  /* [업데이트 대상 기준 3] 자동 업데이트 처리한 가전 세척 접수번호는 업데이트 대상 제외 */
            AND A1.FRST_CRT_DTT <![CDATA[ >= ]]> DATE_ADD(NOW(), INTERVAL -1 YEAR)
            AND A1.FRST_CRT_DTT <![CDATA[ <= ]]> NOW()
        ORDER BY
                A1.CLN_SNO
    </select>

    <update id="updateForCleaningDateUpdateYnBy">
        UPDATE  TB_HAC_CLN_SVC_REQ_BAS /* 세척서비스요청기본 */
        SET     CLN_DT_UPD_YN   = 'Y',
                LAST_CHNG_DTT   = NOW(),
                LAST_CHNGR_NO   = #{userNo}
        WHERE   REPA_RCP_NO     = #{receiptNo}
    </update>
</mapper>